body {
  font-family: 'Lato';
}

h1 {
  font-weight: bold;
  font-size: 10vw;
  margin-bottom: 0em;
}

a {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

ul#burger_recipe {
  list-style-type: circle;
}

img#burger_logo {
  margin-top: 2em;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
